rules_version = '2';
//The order of the rules does not matter
// if there's one rule which allows, the same other which denies will not work above the allow / permission command
// uid = unic firebase authenthication identifier
service cloud.firestore {

  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function isNonEmptyString(fieldName) {
      return request.resource.data[fieldName] is string && 
      request.resource.data[fieldName].size() > 0;

    }

    function isValidCourse() {
      return request.resource.data.seqNo is number &&
      request.resource.data.seqNo >= 0 && 
      isNonEmptyString("url");

    }

    match /courses/{courseId} {
      //if the uid is present, the the user is correctly autheticated
      allow read: if isAuthenticated();
      allow write: if isValidCourse() && isAuthenticated();
      
      match /lessons/{lessonId} {
        allow read: if isAuthenticated();
      }
    }
  }
}
