rules_version = '2';
//The order of the rules does not matter
// if there#s one rule which allows, the same other which denies will not work above the allow / permission command
service cloud.firestore {
  match /databases/{database}/documents {
    allow read;

    

    match /courses/{courseId} {
      allow get; //single user
      allow list;  // query

      allow write: if false;
      allow create: if false;
      allow update: if false;
      allow delete: if false;


      match /lessons/{lessonId} {
        allow read;

      }
    }
    match /courses/{courseId} {
  
    allow list: if false; }
  }
}
